@model Website_Selling_Computer.Models.Product
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.Categories"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerID" class="control-label"></label>
                <select asp-for="ManufacturerID" class="form-control" asp-items="ViewBag.Manufacturers"></select>
            </div>
            <div class="form-group">
                <label asp-for="MainImageUrl" class="control-label"></label>
                <input asp-for="MainImageUrl" class="form-control" type="file" accept="image/*" />
                <span asp-validation-for="MainImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImages" class="control-label"></label>
                <input type="file" asp-for="ProductImages" class="form-control" multiple accept="image/*" />
                <span asp-validation-for="ProductImages" class="text-danger"></span>
            </div> 
            <br />
            <hr />
            <div class="form-group">
                <span>
                    <input type="submit" value="Thêm mới" class="btn btn-success" />
                    | <a href="@Url.Action("Index", "Products", new { area = "Admin" })" class="btn btn-warning"> Trở về danh sách</a>
                </span>
            </div>
        </form>
    </div>
</div>

