@model IEnumerable<Website_Selling_Computer.Models.ProductCategory>

@{
    ViewData["Title"] = "GetCategoriesView";
}

<h1>Các danh mục laptop</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="Home" asp-action="Index" asp-route-area="">Back to List</a>
</div>
