<!-- slider -->
<div class="container">
    <div class="slider my-3 bg-light">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./image/slider/slider-01.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./image/slider/slider-02.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./image/slider/slider-03.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./image/slider/slider-04.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<!-- Lap van phong -->
@{
    foreach (var item in ViewBag.ProductCategory)
    {
        <div class="container">
            <div class="FlashSale-list bg-light">
                <div class="falshsale_title border-bottom">
                    <div class="row">
                        <div class="col-md-4 py-2 mx-2">
                            <h4><strong>@item.Description</strong></h4>
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                </div>
                <div class="row row-cols-4">
                    @{
                        var listVp = ((List<Product>)ViewBag.Products).Where(p => p.CategoryID == item.CategoryID).Take(4).ToList();
                        <partial name="Product" model="listVp"/>
                    }
                </div>
                <div class="bt_viewall py-3" style="text-align: center;">
                    <a href="#Flashsale.html" class="link-offset-2 link-underline link-underline-opacity-0 text-bl" title="Xem tất cả">
                        Xem tất cả <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    }
}