@using Microsoft.AspNetCore.Identity
@using Website_Selling_Computer.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var user = UserManager.GetUserAsync(User);
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STM Store - Trang chủ</title>
    <link type="image/x-icon" href="~/image/logoSTM-01.png" rel="shortcut icon">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body id="page_index" style="background-color: #F3F8FF;">
    <!-- Header -->
    <section class="myheader">
        <!--wraptop-->
        <div class="wraptop">
            <div class="p-2 mb-0 text-light" style="background-color: #318845;">
                <div class="container py-3 px-3">
                    <div class="row py-2">
                        <!--logo-->
                        <div class="col-md-2 py-1">
                            <a href="/Home/Index">
                                <img src="~/image/logoSTM-01.png" class="img-fluid" alt="logoSTM" width="200" height="auto">
                            </a>
                        </div>
                        <!--Seach-->
                        <div class="col-md-4 pt-2">
                            <form action="/Home/Search" method="get">
                                <div class="input-group mb-3">
                                    <input type="text" name="product" class="form-control" placeholder="Từ khóa tìm kiếm"
                                           aria-label="Từ khóa tìm kiếm" aria-describedby="basic-addon2">
                                    <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-magnifying-glass"></i></span>
                                </div>
                            </form>
                        </div>
                        <!-- hotline -->
                        <div class="col-md-2 pt-1">
                            <div class="row">
                                <div class="col-3">
                                    <div class="fs-2">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                </div>
                                <div class="col-9">
                                    Hotline <strong class="#">0931967576</strong>
                                </div>
                            </div>
                        </div>
                        <!-- dang nhap -->
                        <!-- dang ki -->
                        
                        <div class="col-md-4">
                            
                            <div class="row">
                                @if (!SignInManager.IsSignedIn(User) && user != null)
                                {
                                <div class="col-4 py-lg-2">
                                    <div class="row">
                                            <a asp-area="Identity" asp-page="/Account/Register" class="text-decoration-none text-light" style="text-align:right;">Đăng ký</a>
                                    </div>
                                </div>
                                <div class="col-4 py-lg-2">
                                    <div class="row">
                                        <a href="/Identity/Account/Login" class="text-decoration-none text-light" style="text-align: right;">Đăng nhập</a>
                                    </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-4 py-lg-2">
                                        <div class="row">
                                            <a asp-area="Identity" asp-page="/Account/Logout" class="text-decoration-none text-light" style="text-align:right;">Đăng xuất</a>
                                        </div>
                                    </div>
                                    <div class="col-4 py-lg-2">
                                        <div class="row">
                                            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="text-decoration-none text-light" style="text-align: right;">Quản lí tài khoản</a>
                                        </div>
                                    </div>
                                }
                                <div class="col-1 py-1">
                                    @if (!SignInManager.IsSignedIn(User) && user != null)
                                    {
                                        <a href="/Identity/Account/Login" class="text-decoration-none text-light">
                                            <span class="fs-3">
                                                <i class="fa-solid fa-user"></i>
                                            </span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="text-decoration-none text-light">
                                            <span class="fs-3">
                                                <i class="fa-solid fa-user"></i>
                                            </span>
                                        </a>
                                    }

                                </div>
                                <!--Cart-->
                                <div class="col-1 py-1">
                                    <a href="/Cart/Index" class="position-relative">
                                        <span class="fs-3">
                                            <i class="fa-solid fa-cart-plus text-light"></i>
                                        </span>
                                        @* <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-danger">
                                            0<span class="visually-hidden">unread messages</span>
                                        </span> *@
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- menu -->
    <section class="mymenu" style="background-color: #006837;">
        <div class="container">
            <div class="row">
                <div class="col-3 py-3">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Danh mục sản phẩm
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item active" asp-controller="Home" asp-action="ViewProductWithCategory" asp-route-categoryID="1">Laptop văn phòng</a></li>
                            <li><a class="dropdown-item active" asp-controller="Home" asp-action="ViewProductWithCategory" asp-route-categoryID="2">Laptop Gaming</a></li>
                            <li><a class="dropdown-item active" asp-controller="Home" asp-action="ViewProductWithCategory" asp-route-categoryID="3">Laptop đồ họa</a></li>
                            <li><a class="dropdown-item active" asp-controller="Home" asp-action="ViewProductWithCategory" asp-route-categoryID="4">Laptop mỏng nhẹ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-9">
                    <nav class="navbar navbar-expand-lg ">
                        <div class="container-fluid">
                            <a class="navbar-brand d-none" href="#">Navbar</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link text-white active" aria-current="page" href="/Home/Index">Trang chủ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white active" href="/Home/AllProduct">Tất cả sản phẩm</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-white active" href="#" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            Laptop
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item active" href="/Home/ViewProductWithManufacturer/1">DELL</a></li>
                                            <li><a class="dropdown-item active" href="/Home/ViewProductWithManufacturer/6">MSI</a></li>
                                            <li><a class="dropdown-item active" href="/Home/ViewProductWithManufacturer/5">ASUS</a></li>
                                            <li><a class="dropdown-item active" href="/Home/ViewProductWithManufacturer/4">ACER</a></li>
                                            <li><a class="dropdown-item active" href="/Home/ViewProductWithManufacturer/3">LENOVO</a></li>
                                            <li><a class="dropdown-item active" href="/Home/ViewProductWithManufacturer/2">HP</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="mymaincontent">
        @RenderBody()
    </section>


    <!-- cam ket -->
    <div class="camket_wrapper" style="background-color: RGBA(0, 0, 0, 0);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="~/image/camket_wrapper.png" class="img-fluid" alt="camket_wrapper" width="1296px" height="auto">
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <section class="myfooter bg-dark text-white py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="colfoot info_system" style="list-style-type: none; width: 100%">
                        <li class="cot_title cot_title2"><b>VỀ CHÚNG TÔI</b></li>
                        <br>
                        <li>
                            <p>
                                <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
                                   href="#">Chính sách bảo mật thông tin</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
                                   href="#">Giới thiệu</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
                                   href="#">Điều khoản sử dụng</a>
                            </p>
                        </li>
                        <li class="company_info" style="margin-top: 10px;"></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="colfoot info_system" style="list-style-type: none; width: 100%">
                        <li class="cot_title cot_title2"><b>HỖ TRỢ KHÁCH HÀNG</b></li>
                        <br>
                        <li>
                            <p>
                                <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
                                   href="#">Chính sách đổi trả hàng</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
                                   href="#">Chính sách bảo hành</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
                                   href="#">Phương thức Giao hàng & thanh toán</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
                                   href="#">Chính sách thanh toán</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
                                   href="#">Check Bảo hành Online</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
                                   href="#">Liên hệ</a>
                            </p>
                        </li>
                        <li class="company_info" style="margin-top: 10px;"></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="colfoot info_system" style="list-style-type: style type; ; width: 100%">
                        <li class="cot_title cot_title2" style="list-style-type: none;"><b>HỆ THỐNG CỬA HÀNG</b></li>
                        <br>
                        <li>
                            <p>
                                <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
                                   href="#">Sai Gon Campus: 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
                                   href="#">Ung Van Khiem Campus: 31/36 Ung Văn Khiêm, P.25, Q.Bình Thạnh, TP.HCM</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
                                   href="#">Thu Duc Campus: Phân khu đào tạo E1, Khu Công Nghệ cao TP.HCM, Phường Hiệp Phú, TP. Thủ Đức, TP.HCM</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
                                   href="#">Hitech Park Campus: Viện Công nghệ Cao Hutech, Lô E2B4, đường D1,Phường Long Thạnh Mỹ, khu Công Nghệ Cao, TP. Thủ Đức, TP.HCM.</a>
                            </p>
                        </li>
                        <li class="social_link mt-3" style="list-style-type: none;">
                            <div class="row">
                                <div class="col-lg-1">
                                    <p>
                                        <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
                                           href="https://web.facebook.com/ltiuka/">
                                            <img src="https://cdn-icons-png.flaticon.com/128/5968/5968764.png" alt="Facebook" width="40" height="40">
                                        </a>
                                    </p>
                                </div>
                                <div class="col-lg-1">
                                    <p>
                                        <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
                                           href="https://web.facebook.com/ltiuka/">
                                            <img src="https://cdn-icons-png.flaticon.com/128/3670/3670042.png" alt="Messages" width="40" height="40">
                                        </a>
                                    </p>
                                </div>
                                <div class="col-lg-1">
                                    <p>
                                        <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
                                           href="https://zalo.me/s/qrwallet">
                                            <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/01/Logo-Zalo-Arc.png" alt="Zalo" width="40" height="40">
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="checkout_link mt-1" style="list-style-type: none;">
                            <div class="row">
                                <div class="col-3 py-1">
                                    <p>
                                        <a class="link-light link-offset-2 link-underline link-underline-opacity-0"
                                           href="">
                                            <img src="https://ngocnguyen.vn/cdn/upload/files/social/payment.png" alt="Zalo" width="auto" height="30">
                                        </a>
                                    </p>
                                </div>
                                <div class="col-3">
                                    <p>
                                        <a class="link-light link-offset-2 link-underline link-underline-opacity-0 mx-3"
                                           href="http://online.gov.vn/Home/WebDetails/97233?AspxAutoDetectCookieSupport=1">
                                            <img src="http://online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoSaleNoti.png" class="align-items-lg-stretch" alt="Zalo" width="auto" height="40">
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </section>
    <hr class="my-0">


    <section class="copyright text-light py-lg-3" style="background-color: rgb(13, 12, 12);">
        <div class="row" style="text-align: center;">
            <div class="copyright">
                Copyright &copy; 2024 STM Store
            </div>
        </div>
    </section>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
