@using Microsoft.AspNetCore.Identity
@using Website_Selling_Computer.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var user = UserManager.GetUserAsync(User);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && user != null)
    {
        <div class="nav-items">
            <div class="nav"> 
                <li class="nav-item">
                    <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        Xin chào @user.Result.LastName @user.Result.FirstName! </a>
                </li>
                <li class="nav-item">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-white border-0">Đăng xuất</button>
                    </form>
                </li>
            </div>
        </div>
    }
    else
    {
        <div class="nav-items">
            <div class="nav">
                <li class="nav-item">
                    <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " id="login" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
                </li>
            </div>
        </div>
    }
</ul>

