@model Website_Selling_Computer.Models.Order

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>


<!-- Display the items in the order -->


<form asp-action="Checkout" method="post">
    <div class="form-group">
        <label asp-for="ShippingAddress">Địa chỉ giao hàng</label>
        <input asp-for="ShippingAddress" class="form-control" />
    </div>
   @* <div class="form-group">
        <label asp-for="Notes">Ghi chú</label>
        <textarea asp-for="Notes" class="form-control"></textarea>
    </div>*@

    <a asp-action="ConfirmCheckout" class="btn btn-edit">Xác nhận đơn hàng</a>
</form>